<p>Click on a link below to answer a question or fill out the form to make a new one.</p>

<ul>
  {{#each model.questions as |question|}}
    {{question-popularity question}}{{question-tile question=question}}<p>{{question.answers.length}} Answers</p>
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
